body {
    /* background-color: #071e3d; */
    background: linear-gradient(0deg, black, #071e3d 10%) no-repeat;
    color: white;
    font-family: 'Andika New Basic', sans-serif, 'Courier New', monospace;
    margin: 0;
}

h2, h4 {
    margin-top: 50px;
    margin-bottom: 5px;
    margin-right: 10vw;
    margin-left: 10vw;
}

h1 {
    font-family: 'Righteous', cursive;
    text-align: center;
    margin-right: 10vw;
    margin-left: 10vw;
}

h2 {
    font-family: 'Kufam', cursive;
    text-align: center;
}

h3 {
    margin-top: 200px;
    margin-bottom: 30px;
    margin-right: 30px;
    text-align: right;
    font-family: 'Amatic SC', cursive;
}

h4 {
    text-align: center;
}

p {
    padding: 5px 0 10px 0;
    margin: 0 10vw;
}

br {
    display: block;
    margin-top: 15px;
}

#end-p {
    margin-top: 80px;
}

a {
    color: #21e6c1;
}

#img-div {
    width: 100vw;
    max-width: 100%; /* prevents horizontal scroll https://stackoverflow.com/questions/23367345/100vw-causing-horizontal-overflow-but-only-if-more-than-one */
    /* margin-left: -8px; */
    padding-top: 28px;
    background-color: black;
    display: flex;
    flex-direction: column;
}

#img-caption {
    font-family: 'Amatic SC', cursive;
    font-size: 26px;
    text-align: center;
    justify-self: center;
    color: rgb(197, 197, 197);
}

#image {
    max-width: 20%;
    justify-self: center;
    align-self: center;
}

.double-col {
    column-count: 2;
    column-width: 330px; /* this property is inherently responsive */
    /* column-rule: 1px solid lightblue; */
}

.main-section-img, figcaption {
    display: block;
    margin: auto;
    text-align: justify;
    object-fit: contain;
}

figure {
    margin: 10px 10vw;
}

.main-section-img {
    max-width: 100%;
}

#trampoline-figcap {
    max-width: 339px;
    font-size: 14px;
    /* padding: 0; */
}

#neil-figure {
    max-width: 532px;
    padding: 0 10vw;
    /* max-width: 50%; */
    display: block;
    text-align: justify;
    font-size: 13px;
    margin: auto;
    margin-bottom: 30px;
}

#back-to-main {
    padding-bottom: 25px;
}